{% extends "userlayout.html" %}
{% block content %}

<h1>Find Doctor:</h1>

<FORM STYLE="padding-left:5px">
<table>

    <tr><td><INPUT TYPE="radio" NAME="RadioGroupName" ID="GroupName1" ONCLICK="ShowRadioButtonDiv('GroupName', 7)"/>Sharjah<BR></td></tr>
    <tr><td><INPUT TYPE="radio" NAME="RadioGroupName" ID="GroupName2" ONCLICK="ShowRadioButtonDiv('GroupName', 7)"/>Dubai<BR></td></tr>
    <tr><td><INPUT TYPE="radio" NAME="RadioGroupName" ID="GroupName3" ONCLICK="ShowRadioButtonDiv('GroupName', 7)"/>Abu Dhabi<BR></td></tr>
    <tr><td><INPUT TYPE="radio" NAME="RadioGroupName" ID="GroupName4" ONCLICK="ShowRadioButtonDiv('GroupName', 7)"/>Al Ain<BR></td></tr>

</table>
</FORM>


<SCRIPT>
function ShowRadioButtonDiv (IdBaseName, NumberOfButtons) {
    for (x=1;x<=NumberOfButtons;x++) {
        CheckThisButton = IdBaseName + x;
        ThisDiv = IdBaseName + x +'Div';
    if (document.getElementById(CheckThisButton).checked) {
        document.getElementById(ThisDiv).style.display = "block";
        }
    else {
        document.getElementById(ThisDiv).style.display = "none";
        }
    }
    return false;
}
</SCRIPT>

<br><br><br><br>

<DIV ID="GroupName1Div" STYLE="display:none;">
    <table>
    <tr><td>Doctor Name:- Dr. Marina Joseph</td></tr>
    <tr><td>Position:- Psychologist</td></tr>
    <tr><td>Contact No.:- +(971-6)-052-4442 </td></tr>
    <tr><td>Address:- Zulekha Hospital, Sharjah</td></tr>
    </table>
</DIV>

<DIV ID="GroupName2Div" STYLE="display:none;">
    <table>
    <tr><td>Doctor Name:- Dr. Daniela Graf</td></tr>
    <tr><td>Position:- Specialist Child & Adolescent Psychiatrist</td></tr>
    <tr><td>Contact No.:- +(971-4)-237-9000</td></tr>
    <tr><td>Address:- American Center for Psychiatry and Neurology (ACPN), Dubai</td></tr>
    </table>
</DIV>
    
<DIV ID="GroupName3Div" STYLE="display:none;">
    <table>
    <tr><td>Doctor Name:- Prof. George Tadros</td></tr>
    <tr><td>Position:- Consultant Psychiatrist, Clinical Lead - Psychiatry Services</td></tr>
    <tr><td>Contact No.:- +(971-2)-492-6000 </td></tr>
    <tr><td>Address:- American Center for Psychiatry and Neurology (ACPN), Abu Dhabi</td></tr>
    </table>
</DIV>

<DIV ID="GroupName4Div" STYLE="display:none;">
<table>
    <tr><td>Doctor Name:- Dr. Rasha Mashmoushi</td></tr>
    <tr><td>Position:- Psychologist</td></tr>
    <tr><td>Contact No.:- +(971-3)-713-1700 </td></tr>
    <tr><td>Address:- American Center for Psychiatry and Neurology (ACPN), Al Ain</td></tr>
    </table>
</DIV>


</DIV>

{% endblock %}