{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-purple">
          <h1>Introduction</h1>
        </header>
        
        <div class="w3-container">
          <p>The incidence rate of depressive among people of determination (POD) is relatively high compared to the general population. It is due to several factors such as the difficulties and the challenges they face on daily basis. This could be a serious concern to their family and loved ones and the society as whole. Depression is considered one of the most serious mental health issues and we should regard more attention to it. Hence, it is important to work around ways to help reduce the rate of depression among POD by building a fast an accurate system for early depression detection and immediately assist in finding social events and activities as a primary solution.
            
	</p>
        </div>
        
        <footer class="w3-container w3-purple">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-purple">
              <h1>About The Project</h1>
            </header>
            
            <div class="w3-container">
              <p>
                In this proposed system, a combination of machine learning algorithms are used for faster and more accurate prediction. Convolutional Neural Network (CNN) to detect depression from a video considering a certain threshold of frames. NLP for Textual Data (English) processing, and Naïve Bayes for semantic Analysis of the processed textual data. We used Flask as our framework to develop the web application using Python. The user will know the analysis result in real time.		</p>
            </div>
            
            <footer class="w3-container w3-purple">
              <h5></h5>
            </footer>
            
            </div>

    <div class="w3-container w3-center">
        <h2>Architecture Diagram</h2>
        <img src="static/images/block.png" alt="car" style="width:100%">
        <p>Figure1</p>
      </div>

{% endblock %}